.hoho {
    flex-direction: column;
}

.nav_links ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/*.hoho a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* Utility classes */
.h-primary{
    font-size:26px;
}
